@charset "utf-8";

button{
    border:none;
    background:none;
}

button:hover{
    opacity:0.5;
    width: 612px;
    height: 85px;
}

/* header */

header h2{
    background: url(../img/500_F_301780181_IoiYryTm6HXdXJOiwwZzdsATXNZPFHwN.png) no-repeat top right ;
    background-size: contain;
    height:80vh;
    position: relative;
}

.header-pd{
    position:absolute;
    top: 595px;
    left: 121px;
}

/* future */

#future{
    background-color: #FCF8EC;
    background-size:contain;
}

.future-pd{
    display:flex;
    position: relative;
}

.left-future img{
    position: absolute;
    top: 30px;
    left: -50px;
    width: 330px;
    height: auto;
}

.right-future{
    padding-top: 88.57px;
    padding-bottom:55px;
    padding-left: 137px;
}

h2.future{
    padding-bottom:32.43px
}

/* you */

#you{
    background:url(../img/3919241_l.png)  no-repeat bottom center;
    background-size: cover;
    padding-bottom: 54px;
}

h2.you{
    padding-top:57px;
    text-align: center;
    color:#000000;
    font: normal normal bold 29px/39px Source Han Sans JP;
}

p.you-text-2{
    padding-top:12px;
    width: 1088px;
    text-align: center;
    font: normal normal bold 53px/71px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
}

p.you-text-3{
    padding-top:32px;
    padding-bottom:73px;
    text-align: center;
    font: normal normal bold 18px/27px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
}

.main-text-2{
    padding-bottom: 28px;
}

.you-area{
    padding-top: 28px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.col-you{
    flex-basis: 30%;
}

.col-you img{
    width: 358px;
    height: 215px;
    object-fit: cover;
}

.main-text-2-1{
    text-align: center;
    font: normal normal bold 20px/23px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    font-size:20px;
    padding-top: 14px;
}

.main-text-2-2{
    text-align: center;
    font: normal normal bold 33px/23px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    font-size:33px;
    padding-bottom: 15px;
}

p.main-text-2-3{
    text-align: left;
    font: normal normal bold 14px/22px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    font-size:14px;
}

.main-text-2-4{
    text-align: center;
    font: normal normal bold 20px/23px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    font-size:20px;
    padding-top: 14px;
}

.main-text-2-5{
    text-align: center;
    font: normal normal bold 33px/23px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    font-size:33px;
    padding-bottom: 15px;
}

p.main-text-2-6{
    text-align: left;
    font: normal normal bold 14px/22px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    font-size:14px;
}

.main-text-2-7{
    text-align: center;
    font: normal normal bold 20px/23px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    font-size:20px;
    padding-top: 14px;
}

.main-text-2-8{
    text-align: center;
    font: normal normal bold 33px/23px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    font-size:33px;
    padding-bottom: 15px;
}

p.main-text-2-9{
    text-align: left;
    font: normal normal bold 14px/22px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    font-size:14px;
}

/* hatena */

#hatena{
    background-color:#F9DCD6;
}

.hatena-pd{
    display:flex;
    height: 480px;
}

.left-hatena{
    position:relative;
    flex-basis:70%;
}

h2 .left-hatena{
    padding-top: 63.44px;
    padding-bottom:41px;

}

.hatena-2{
    position: absolute;
    width: 847px;
    height: 305px;
    top: 140px;
    left: -60px;
}

.right-hatena img{
    width: 273px;
    height: 568px;
}

/* midasi */

#midasi-1{
    height: 88px;
}

/* serch */

#serch{
    background:url(../img/3211241_l.png) no-repeat bottom;
    background-size:cover;
    height: 1194px;
}

.serch-text-1{
    text-align: center;
    font: normal normal bold 29px/34px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    padding-top: 64px;
}

.serch-text-2{
    text-align: center;
    font: normal normal bold 39px/46px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    padding-top: 5px;
}

.serch-text-3{
    text-align: center;
    font: normal normal bold 18px/28px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    padding-top: 32px;
}

.rbox{
    margin-top:17px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 370px;
    margin:0 auto;
}

/* ex */

#ex{
    background-color: #FCF8EC;
    height: 406px;
}

.ex-pd{
    position: relative;
}

.col-size1 img{
    width: 351px;
    height: 176px;
}

.col-size2 img{
    position: absolute;
    flex-basis:70%;
    top: -170px;
    left: 400px;
    width: 400px;
    height: auto;
}

/* start */

#start{
    background-color: #F9DCD6;
    background-size: contain;
    height: 752px;
}

.start-pd{
    display: flex;
}

h2.start{
    text-align: center;
    padding-top: 126.3px;
}

.start-text{
    font: normal normal bold 16px/28px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    display:flex;
    padding-top: 36px;
}

.start-1 img{
    width: 627px;
    height: 347px;
}

.start-2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 49.6px;
}

/* prime */

h2.prime{
    text-align: center;
    font: normal normal bold 45px/74px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    padding-top: 70.4px;
}

.prime {
    text-align : center;
}

.prime-text img{
    text-align: center;
    width: 1083px;
    height: auto;
    padding-top: 32px;
    padding-bottom: 70px;
}

/* faq */

#faq{
    background-color: #FCF8EC;
    background-size: contain;
}

h2.faq{
    text-align:center;
    color: #955629;
    padding-top: 59px;
}

h3.faq{
    text-align: center;
    color: #955629;
    padding-top: 7px;
    padding-bottom: 39.5px;
}

.faq-1{
    display: flex;
    justify-content: center;
    padding-bottom: 42.5px;
}

.faq-2{
    display: flex;
    justify-content: center;
    padding-bottom: 42.5px;
}

.faq-3{
    display: flex;
    justify-content: center;
    padding-bottom: 42.5px;
}

.faq-4{
    display: flex;
    justify-content: center;
    padding-bottom: 42.5px;
}

p.box{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: left;
    font: normal normal bold 16px/27px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
}
h2.access{
    text-align: center;
    padding-top: 58px;
    padding-bottom: 60px;
}

.access-box-1{
    width: 800px;
    height: 293px;
    border: 1px solid #707070;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 39px;
}

p.access-box-2{
    border-top: 1px solid #000000;
    padding-top:15px;
    text-align: left;
    font: normal normal bold 15px/31px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
}

p.access-box-2:last-child{
    border-bottom: 1px solid #000000;
    padding-bottom: 15px;
}

/* midasi */

#midasi-3 img{
    margin-top: 39px;
    margin-bottom: 15px;
}

h2.last{
    text-align: center;
    font: normal normal bold 12px/24px Source Han Sans JP;
    letter-spacing: 0px;
    color: #000000;
    padding-bottom: 20px;
}